<product-selector>
  <label class="bundle-option">
    <input type="radio" name="bundle" value="1">
    <div class="bundle-content">
      <div class="bundle-header">1 Pair</div>
      <div class="bundle-sub">Standard Price</div>
      <div class="bundle-price">$69.95 <s>$140.00</s></div>
    </div>
  </label>
</product-selector>
