{% comment %} dropdown item  {% endcomment %}
<li>
  <a href="{{ link }}">
    <img
      class="mobile--menu-navigation-item-image"
      src="{{ image_src }}"
      width=""
      height=""
      loading="lazy"
      alt="product image">
    <span class="mobile--menu-item-sub-title">{{ link_title }}</span>
  </a>
</li>