<div class="collection-product-gift-info">
  <img
    class="gift-icon"
    src="//japancrafts.co/cdn/shop/files/WhatsApp_Image_2026-01-03_at_3.50.58_AM_b0ec0e19-46ab-4ba7-b93a-818a7026cd37.png?v=1767422310"
    width=""
    height=""
    alt="icon"
  >

  <p>{{ section.settings.info_text }}</p>
</div>
