<div class="language--switcher">
  <img src="https://cdn.weglot.com/flags/square/de.svg" alt="">
  <span>Deutsch</span>
  <svg class="" width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 1L6.5 6.82353L1 1" stroke="#454545" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
</div>

<div class="language--popup">
  <div class="language--popup-innner">
    <span class="language--popup-close"><svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
      <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
    </svg></span>
    <h3 class="language--popup-ttle"> Wohin soll's gehen? </h3>
    <p class="language--popup-text">Unten siehst du, in welche Länder wir dir deine Produkte schicken können.</p>
    <ul class="language--popup-slector">
      <li data-lang="de" data-name="Deutsch">
        <img src="https://cdn.weglot.com/flags/square/de.svg" alt=""> Deutsch
      </li>
      <li data-lang="en" data-name="English">
        <img src="https://cdn.weglot.com/flags/square/gb.svg" alt=""> English
      </li>
      <li data-lang="fr" data-name="Français">
        <img src="https://cdn.weglot.com/flags/square/fr.svg" alt=""> Français
      </li>
      <li data-lang="de" data-name="Deutsch">
        <img src="https://cdn.weglot.com/flags/square/de.svg" alt=""> Deutsch
      </li>
      <li data-lang="en" data-name="English">
        <img src="https://cdn.weglot.com/flags/square/gb.svg" alt=""> English
      </li>
      <li data-lang="fr" data-name="Français">
        <img src="https://cdn.weglot.com/flags/square/fr.svg" alt=""> Français
      </li>
    </ul>
    </div>
</div>
