<div class="mobile--menu-footer">
    <div class="mobile--menu-footer-social">
      <ul>
        <li>
          <a href="#">
            <img src="//snocks.com/cdn/shop/files/Icon_-_Instagram_b47ef204-b171-4e4c-8c25-3411d0e9e4cd.svg?crop=center&height=25&v=1711374635&width=25" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="//snocks.com/cdn/shop/files/Icon_-_WhatsApp_3acab772-c84c-4e87-99df-3d2542e45d21.svg?crop=center&height=25&v=1711374635&width=25" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="  //snocks.com/cdn/shop/files/Icon_-_Facebook_4ae42cd0-1853-4f49-95e7-6b6c0c8c4d21.svg?crop=center&height=25&v=1711374572&width=25" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="//snocks.com/cdn/shop/files/Icon_-_Tiktok_01350e06-4c79-4172-8c6c-c7602bb413ff.svg?crop=center&height=25&v=1711374635&width=25" alt="">
          </a>
        </li>           
      </ul>

    </div>
  </div>