{% for block in section.blocks %}
  {% case block.type %}
    {%- when 'variant_picker_custom' -%}
      {%- if block.settings.custom_product_list != blank -%}
        {%- for custom_product in block.settings.custom_product_list -%}
          {%- assign product_obj = custom_product -%}

          <img src=" {{ product_obj.featured_image | img_url: 'master' }}">
          <div
            class="swiper-slide m-product-media--item media-type-image"
            data-index="{{ forloop.index0 }}"
            data-media-type="image"
            data-media-id="{{ product_obj.featured_image.id }}"
            data-aspect-ratio="{{ product_obj.featured_image.aspect_ratio | default: '1' }}"
          >
            {% render 'product-thumbnail',
              media: product_obj.featured_image,
              index: forloop.index0,
              autoplay: enable_video_autoplay,
              loop: true,
              media_layout: media_layout,
              product: product_obj
            %}

            {%- if enable_zoom -%}
              <div class="m-product-media--zoom-icon">
                {% render 'tooltip', type: 'zoom-in', class_name: ' m-tooltip--left' %}
              </div>
            {%- endif -%}
          </div>
        {% endfor %}
      {% endif %}
  {% endcase %}
{% endfor %}
