<div class="private-label-content" {{ block.shopify_attributes }}>
  {% content_for 'blocks' %}
</div>

<style>
  .private-label-content {
    min-width: 0;
    display: flex;
    flex-direction: column;
  }
</style>

{% schema %}
{
  "name": "Private Label content",
  "blocks": [{ "type": "_private-label-image-toggle" }],
  "settings": [],
  "presets": [
    {
      "name": "Private Label content",
      "category": "Content",
      "blocks": [{ "type": "_private-label-image-toggle" }]
    }
  ]
}
{% endschema %}
