<div class="akta-banner">
  <div class="akta-banner-image">
    {% if section.settings.banner_image_desktop != blank or section.settings.banner_image_mobile != blank %}
      <picture>
        <!-- Mobile image -->
        {% if section.settings.banner_image_mobile %}
          <source
            media="(max-width: 767px)"
            srcset="{{ section.settings.banner_image_mobile | image_url }}"
          >
        {% endif %}

        <!-- Desktop image -->
        {% if section.settings.banner_image_desktop %}
          <source
            media="(min-width: 768px)"
            srcset="{{ section.settings.banner_image_desktop | image_url }}"
          >
        {% endif %}

        <img
          src="{{  section.settings.banner_image_desktop | image_url }}"
          alt="banner Image"
          width="100%"
          height=""
          class="banner-image"
        >
      </picture>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Akta Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image_desktop",
      "label": "Desktop Banner Image"
    },
    {
      "type": "image_picker",
      "id": "banner_image_mobile",
      "label": "Mobile Banner Image"
    }
  ],
  "presets": [
    {
      "name": "Akta Banner",
      "category": "Image"
    }
  ]
}
{% endschema %}
