<section class="accordion-area">
  <div class="container">
    <div class="product-dis-wrap">
      <div class="content-left col-6">
        <h3 class="product-title">product description</h3>
        <div class="product-description">
          <p class="content">
            Do you like to experience the joy of cooking with a knife that always stays sharp? Then you will love our
            knives! Our knives offer an extremely sharp blade that retains its sharpness for a long time thanks to
            proven 3-layer carbon steel with a hardness of HRC 60+. Do you want a knife that guarantees you long-lasting
            sharpness? Our knives are just right for you! Are you looking for the highest quality at the best price?
            Then our knives are the perfect choice. They offer the highest quality thanks to the 9cr18mov steel and are
            affordable at the same time. Are you tired of sore hands when cutting? With our ergonomic handle, you will
            be able to cut for hours without discomfort. The handle offers true comfort and makes cutting a pleasant
            experience. In addition, the rust-resistant coating ensures easy maintenance of the blade and extends its
            lifespan. Try it and experience the difference!
          </p>
        </div>
        <div class="btn-box">
          <button class="more-show">show more</button>
        </div>
      </div>

      <div class="content-right col-6">
        <div class="accordion-wrap">
          <div class="accordion-item">
            <h4 class="title">
              <button class="colaps-btn">
                The Kiritsuke Knife
                <span>
                  <svg
                    class="lb-pdp-split-description-accordion-label-svg"
                    width="28px"
                    height="10px"
                    viewBox="0 0 52 30"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g id="Page-11" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Artboard-Copy-10" transform="translate(-948, -1294)" stroke="#000000" stroke-width="5">
                        <g id="Rectangle-2-Copy-141" transform="translate(41, 1242)">
                          <polyline id="Path-14" points="909.741444 54.6644714 933.105583 78.028611 956.469723 54.6644714"></polyline>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </button>
            </h4>
            <div class="accordion-body">
              <p>
                The Kiritsuke knife originates from Japan and is known for its tapered blade that allows for precise
                cuts. It is ideal for cutting fish and vegetables and is often used as a versatile all-purpose knife in
                Japanese cuisine. Its sharp blade and elegant design make it popular with both professional and amateur
                chefs.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="title">
              <button class="colaps-btn">
                product data
                <span>
                  <svg
                    class="lb-pdp-split-description-accordion-label-svg"
                    width="28px"
                    height="10px"
                    viewBox="0 0 52 30"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g id="Page-28" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Artboard-Copy-67" transform="translate(-948, -1294)" stroke="#000000" stroke-width="5">
                        <g id="Rectangle-2-Copy-85" transform="translate(41, 1242)">
                          <polyline id="Path-214" points="909.741444 54.6644714 933.105583 78.028611 956.469723 54.6644714"></polyline>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </button>
            </h4>
            <div class="accordion-body">
              <p>Blade length: 20.6 cm</p>
              <p>Blade thickness: ± 2.6 mm</p>
              <p>Weight: 217 g</p>
              <p>Suitable for meat, fish and vegetables</p>
              <p>Forged from carbon steel</p>
              <p>Hardness HRC 60 +</p>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="title">
              <button class="colaps-btn">
                What is carbon steel?
                <span>
                  <svg
                    class="lb-pdp-split-description-accordion-label-svg"
                    width="28px"
                    height="10px"
                    viewBox="0 0 52 30"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g id="Page-164" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Artboard-Copy-540" transform="translate(-948, -1294)" stroke="#000000" stroke-width="5">
                        <g id="Rectangle-2-Copy-747" transform="translate(41, 1242)">
                          <polyline id="Path-204" points="909.741444 54.6644714 933.105583 78.028611 956.469723 54.6644714"></polyline>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </button>
            </h4>
            <div class="accordion-body">
              <p>
                9Cr18MoV is a high-quality carbon steel that is often used for knives. It contains a lot of chromium,
                which makes it particularly resistant to rust, and a high carbon content, which ensures a hard and sharp
                blade. Thanks to additional elements such as molybdenum and vanadium, the cutting edge stays sharp for a
                long time and can withstand a lot. This steel is ideal for anyone looking for a durable and reliable
                knife.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="title">
              <button class="colaps-btn">
                Shipping & Returns
                <span>
                  <svg
                    class="lb-pdp-split-description-accordion-label-svg"
                    width="28px"
                    height="10px"
                    viewBox="0 0 52 30"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g id="Page-170" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Artboard-Copy-75" transform="translate(-948, -1294)" stroke="#000000" stroke-width="5">
                        <g id="Rectangle-2-Copy-77" transform="translate(41, 1242)">
                          <polyline id="Path-270" points="909.741444 54.6644714 933.105583 78.028611 956.469723 54.6644714"></polyline>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </button>
            </h4>
            <div class="accordion-body">
              <div class="single-content">
                <span>Germany:</span>
                <p>- Standard shipping up to 70€: 2.50€ (1 - 3 working days)</p>
                <p>- Standard shipping from 70€: free (1 - 3 working days)</p>
              </div>

              <div class="single-content">
                <span>European Union:</span>
                <p>- Standard shipping up to 70€: 4.50€ (2 - 8 working days)</p>
                <p>- Standard shipping from 70€: free (2 - 8 working days)</p>
              </div>

              <div class="single-content">
                <span>Switzerland & Liechtenstein:</span>
                <p>- Standard shipping up to 70€: 4.50€ (2 - 8 working days)</p>
                <p>- Standard shipping from 70€: free (2 - 8 working days)</p>
              </div>

              <div class="single-content">
                <p>Shipping provider:</p>
                <p>DHL only</p>
              </div>
              <div class="single-content">
                <p>Returns:</p>
                <p>- Shipping costs for returns must be borne by the buyer.</p>
                <p>
                  - In the event of a partial or damaged return, the buyer may bear the cost of the product (fully or
                  partially).
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
