{{ 'apex-collection.css' | asset_url | stylesheet_tag }}


<header>
    <div class="header-area sticky">
        <div class="header-top">
            <div class="container">
                <div class="close-btn">
                    <p><a class="header-top-text" href="#">CELEBRATING WOMEN - 20% OFF WITH CODE WOMAN20</a>
                    <span class="top_close">
                        <svg class="icon icon-close-bar" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.7123 7.22696L12 10.9393L8.28769 7.22696L7.22703 8.28762L10.9393 11.9999L7.22703 15.7122L8.28769 16.7729L12 13.0606L15.7123 16.7729L16.773 15.7122L13.0607 11.9999L16.773 8.28762L15.7123 7.22696Z" fill="#1E1E1E"></path>
                        </svg>
                    </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-wrapper">
                <div class="menu">
                    <ul>
                        <li><a href="#">SHOP ALL</a></li>
                        <li><a href="#">FACE</a></li>
                        <li><a href="#">LIPS & CHEEKS</a></li>
                        <li><a href="#">EYES</a></li>
                        <li><a href="#">BUNDLES & SETS</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <a href="index.html">
                        <img src="{{ 'Meroda-Logo-Black.svg' | asset_url }}" alt="">
                    </a>
                </div>
                <div class="header-right">
                    <ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">LOGIN</a></li>
                    </ul>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="28" height="28" viewBox="0 0 28 28" fill="none" class="icon icon-search modal__toggle-open">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.72561 11.9146C5.72561 8.56375 8.44199 5.84738 11.7928 5.84738C15.1436 5.84738 17.86 8.56375 17.86 11.9146C17.86 15.2654 15.1436 17.9817 11.7928 17.9817C8.44199 17.9817 5.72561 15.2654 5.72561 11.9146ZM11.7928 4.23199C7.54983 4.23199 4.11023 7.6716 4.11023 11.9146C4.11023 16.1575 7.54983 19.5971 11.7928 19.5971C13.6236 19.5971 15.3047 18.9568 16.6246 17.8878L22.0258 23.289C22.3412 23.6044 22.8526 23.6044 23.168 23.289C23.4834 22.9736 23.4834 22.4622 23.168 22.1467L17.7668 16.7455C18.8353 15.4258 19.4754 13.7449 19.4754 11.9146C19.4754 7.6716 16.0358 4.23199 11.7928 4.23199Z" fill="#121212"></path>
                        </svg>
                    </span>
                    <img src="{{ 'world-flag_thumb.avif' | asset_url }}" alt="">
                    <span>
                        <svg class="icon icon-cart" aria-hidden="true" focusable="false" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3085 6.99991C11.3085 6.82769 11.3957 6.46191 11.7496 6.13423C12.0914 5.81775 12.7528 5.47427 14.0008 5.47427C15.2488 5.47427 15.9103 5.81775 16.2521 6.13423C16.606 6.46191 16.6931 6.82769 16.6931 6.99991H18.3085C18.3085 6.39436 18.0457 5.59347 17.3496 4.94893C16.6414 4.29318 15.5528 3.85889 14.0008 3.85889C12.4488 3.85889 11.3603 4.29318 10.6521 4.94893C9.95595 5.59347 9.69312 6.39436 9.69312 6.99991H11.3085ZM11.3085 7V8.8202H16.6931V7H18.3085V8.8202H21.0828C21.5289 8.8202 21.8905 9.18182 21.8905 9.62789V20.661C21.8905 21.2954 21.6364 21.9024 21.1863 22.3489C20.7363 22.7953 20.1274 23.0449 19.4939 23.0449H8.37103C7.7375 23.0449 7.12861 22.7953 6.67865 22.3489C6.22847 21.9024 5.97437 21.2954 5.97437 20.661V9.62789C5.97437 9.18182 6.33598 8.8202 6.78206 8.8202H9.69312V7H11.3085ZM9.69312 12.8333V10.4356H7.58975V20.661C7.58975 20.8627 7.67046 21.0575 7.81627 21.2021C7.96229 21.3469 8.16172 21.4295 8.37103 21.4295H19.4939C19.7032 21.4295 19.9026 21.3469 20.0486 21.2021C20.1944 21.0575 20.2752 20.8627 20.2752 20.661V10.4356H18.3085V12.8333H16.6931V10.4356H11.3085V12.8333H9.69312Z" fill="currentColor"></path>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <ul>
                <li>
                    <span>
                        <svg class="icon icon-checkmark" width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.85766 0.48999L7.29266 1.05999C5.76017 2.59562 4.5901 3.87807 3.1677 5.33007L1.6527 4.05007L1.0427 3.53506L0.0126953 4.75506L0.622695 5.27506L2.7027 7.03506L3.2627 7.51007L3.7827 6.99007C5.5059 5.26319 6.73278 3.88383 8.4227 2.19007L8.98769 1.62007L7.85766 0.48999Z" fill="currentColor"></path>
                          </svg>
                    </span>
                    <p>100% Money Back</p>
                </li>
                <li>
                    <span>
                        <svg class="icon icon-checkmark" width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.85766 0.48999L7.29266 1.05999C5.76017 2.59562 4.5901 3.87807 3.1677 5.33007L1.6527 4.05007L1.0427 3.53506L0.0126953 4.75506L0.622695 5.27506L2.7027 7.03506L3.2627 7.51007L3.7827 6.99007C5.5059 5.26319 6.73278 3.88383 8.4227 2.19007L8.98769 1.62007L7.85766 0.48999Z" fill="currentColor"></path>
                          </svg>
                    </span>
                    <p>Cruelty-free</p>
                </li>
                <li>
                    <span>
                        <svg class="icon icon-checkmark" width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.85766 0.48999L7.29266 1.05999C5.76017 2.59562 4.5901 3.87807 3.1677 5.33007L1.6527 4.05007L1.0427 3.53506L0.0126953 4.75506L0.622695 5.27506L2.7027 7.03506L3.2627 7.51007L3.7827 6.99007C5.5059 5.26319 6.73278 3.88383 8.4227 2.19007L8.98769 1.62007L7.85766 0.48999Z" fill="currentColor"></path>
                          </svg>
                    </span>
                    <p>+400,000 happy customers</p>
                </li>
            </ul>
        </div>
    </div>
</header>



    {{ 'main.js' | asset_url | script_tag }}

    {% schema %}
      {
        "name": "lips-header",
        "class": "lips-header",
        "settings": [
          
        ],
        "presets": [
          {
            "name": "lips-header",
          }
        ]
      }
    {% endschema %}