{{ 'apex-collection.css' | asset_url | stylesheet_tag }}



<footer>
    <div class="footer-wrap">
        <div class="container">
            <div class="footer-top-area">
                <div class="footer-left-logo">
                    <a href="index.html">
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 763.37 143.99" y="0px" x="0px" id="Layer_1" version="1.1">
                            <g>
                                <path fill="#ffffff" d="M149.16,124.3c-1.22-1.63-2.03-4.06-2.44-7.11c-0.41-3.05-0.61-7.31-0.61-12.6l0.2-68.06c0-4.87,0.2-8.94,0.61-11.98   c0.41-3.05,1.22-5.49,2.23-7.32c1.22-1.62,2.64-3.05,4.88-3.66c2.03-0.81,4.67-1.22,8.13-1.42V9.11h-32.3L87.4,105.2   c0,0-2.85,0-4.67-4.06l-3.86-8.74L43.52,9.11H10.81v3.05c3.25,0.41,6.09,0.81,8.13,1.42c2.24,0.81,3.86,1.83,4.88,3.66   c1.22,1.63,1.83,4.06,2.24,6.91c0.41,2.85,0.61,9.55,0.61,14.02l-0.2,67.45c0,5.08-0.2,8.94-0.61,11.78   c-0.41,3.05-1.42,5.28-2.64,6.91c-1.22,1.42-3.05,2.64-5.28,3.25c-2.23,0.41-5.28,0.81-8.94,1.02v3.05H49v-3.05   c-3.66-0.2-6.7-0.61-8.94-1.02c-2.44-0.61-4.06-1.62-5.28-3.45c-1.22-1.63-2.03-4.06-2.44-7.11c-0.41-3.05-0.61-7.31-0.61-12.6   l0.2-75.58h1.02l43.88,102.8h4.67l46.52-102.6h1.63l-0.2,76.8c0,4.88-0.2,8.94-0.61,11.78c-0.41,2.84-1.22,5.08-2.64,6.7   c-1.22,1.63-3.05,2.64-5.28,3.25c-2.24,0.61-5.28,0.81-8.94,1.02v3.05h51.4v-3.05c-3.66-0.2-6.7-0.41-8.94-1.02   C152.21,126.94,150.38,126.13,149.16,124.3"/>
                                <path fill="#ffffff" d="M269.44,115.77c-1.63,3.05-3.66,5.69-6.3,7.52c-2.64,1.83-5.89,3.25-9.95,4.06c-3.86,0.81-8.53,1.22-14.22,1.22   c-5.08,0-9.14-0.41-12.6-1.02c-3.45-0.61-6.09-1.62-8.13-3.05c-2.03-1.42-3.66-3.25-4.47-5.49c-0.81-2.23-1.42-8.94-1.22-12.39   v-38.6c5.89,0,10.97,0.81,14.83,2.03c3.86,1.22,10.97,4.67,13.82,13c0.81,2.44,1.02,2.64,1.42,6.3h3.25V46.09h-3.25   c-0.2,2.23-0.61,5.08-1.42,9.55c-0.81,3.86-3.66,10.36-10.36,9.35c-1.83-0.2-10.97-1.62-18.29-2.03l0.2-48.15   c0-1.83,1.02-2.64,2.64-2.64h20.32c5.28,0,9.96,0.41,13.81,1.02c3.86,0.61,6.91,1.83,9.55,3.45c2.44,1.42,4.27,3.66,5.69,6.3   c1.42,2.85,2.44,6.3,3.25,10.57h3.05l-1.42-24.38l-89.59-0.2v3.25c3.45,0.2,6.09,0.41,8.33,1.02c2.03,0.41,3.66,1.42,4.67,2.64   c1.22,1.42,2.03,3.05,2.24,5.48c0.41,2.24,0.61,8.13,0.61,11.99l-0.2,73.95c0,3.86-0.2,9.75-0.61,12.19   c-0.41,2.23-1.22,4.06-2.44,5.28c-1.42,1.22-3.05,2.24-5.48,2.64c-2.24,0.61-5.28,1.02-8.94,1.02v3.25h95.69l2.64-27.63h-3.05   C272.49,108.66,271.06,112.72,269.44,115.77"/>
                                <path fill="#ffffff" d="M395.4,69.11c4.51-31.8,31.06-51.55,57.26-51.55c24.27,0.12,44.26,17.48,48.12,41.96c3.9,25.57-9.94,53.49-36.34,64.14   c6.65-1.15,12.84-3.19,18.46-6.11c3.69-1.91,7.13-4.2,10.23-6.8c3.1-2.64,5.93-5.69,8.41-9.04c2.53-3.44,4.66-7.1,6.33-10.85   c1.39-3.15,2.58-6.6,3.58-10.24c0.81-4.11,1.25-8.37,1.28-12.74c0-34.74-26.62-62.78-60.95-62.98c-33.52,0-61.15,26.41-61.15,62.78   c0,12.19,3.12,23.46,8.62,32.99C395.25,91.61,393.74,80.81,395.4,69.11"/>
                                <path fill="#ffffff" d="M638.26,72.5c0-8.94-1.22-17.27-4.06-25.19c-2.64-7.72-5.89-13.61-13.21-20.72c-5.89-5.69-13.2-9.75-21.33-13   c-8.13-3.25-17.06-4.47-26.61-4.47h-55.67v3.25c3.25,0.2,6.09,1.02,8.13,1.83c2.03,0.81,3.86,2.03,4.88,3.66   c1.42,2.24,1.83,4.06,2.24,6.5c0.41,2.24,0.61,5.28,0.61,8.94l-0.2,74.15c0,3.66-0.2,6.7-0.81,9.14c-0.41,2.23-1.22,4.67-2.64,6.3   c-1.42,1.42-3.25,2.84-5.89,3.86c-2.44,0.61-4.87,1.22-9.75,1.63v3.25h62.17c9.14,0,17.68-1.42,25.4-4.27   c7.72-3.05,14.22-6.91,19.91-12.19c5.48-5.08,9.14-11.38,12.19-18.69C636.84,89.15,638.26,81.23,638.26,72.5 M607.17,113.94   c-6.91,9.35-19.3,14.83-33.72,14.83c-15.85,0-23.57-7.11-23.57-19.1V30.03c0-9.55,6.71-17.47,22.96-17.47   c8.13,0,18.29,2.23,23.37,5.49c9.14,5.69,13.81,11.58,19.1,24.78c2.84,7.52,4.06,16.66,4.06,27.43   C619.36,87.12,615.71,102.56,607.17,113.94"/>
                                <path fill="#ffffff" d="M746.87,127.55c-1.83-0.81-3.45-2.23-5.28-4.87c-1.62-2.03-3.45-6.1-5.08-9.55c-1.63-3.66-42.26-104.02-42.26-104.02h-3.86   l-41.65,103.41c-0.81,2.24-1.83,4.47-2.64,6.1c-1.83,3.45-5.08,7.52-11.17,8.94c-1.63,0.41-2.85,0.81-6.3,0.81v3.25h38.6v-3.05   c-4.47,0-9.75-0.81-11.58-2.64c-1.42-1.42-2.64-3.45-1.62-9.14c0.41-1.63,2.23-7.11,2.84-9.55c0.81-2.44,7.11-18.69,8.94-22.96   c0,0,11.99,0.2,22.96,3.45c7.52,2.44,12.19,5.08,16.05,7.72c6.5,4.67,9.14,10.36,10.36,13.41c0.61,1.22,1.22,3.05,1.42,4.07   l0.61,2.64v2.84c0,2.44-0.81,6.1-3.25,7.72c-2.03,1.42-5.89,2.24-11.58,2.24v3.25h52.01v-3.05   C751.54,128.57,748.9,128.37,746.87,127.55 M667.84,79.4c1.83-5.08,18.69-47.13,18.69-47.13l20.93,53.84   C697.29,82.25,684.9,80.22,667.84,79.4"/>
                                <path fill="#ffffff" d="M380.23,120.93c8.15,5.26,16.94,9.32,26.01,12.17c9.04,2.85,18.26,4.74,27.64,5.57c9.36,0.77,18.84,0.5,28.07-1.31   c9.22-1.75,18.2-5.06,26.1-10.08c3.95-2.5,7.63-5.42,10.91-8.71c3.26-3.31,6.12-6.98,8.53-10.9c2.39-3.93,4.38-8.07,5.86-12.38   c1.47-4.31,2.51-8.73,3.22-13.18c-1.1,4.38-2.51,8.66-4.31,12.75c-1.81,4.09-4.09,7.95-6.71,11.51c-2.63,3.56-5.64,6.8-8.97,9.64   c-3.35,2.82-7.01,5.23-10.87,7.23c-7.72,4.01-16.21,6.33-24.81,7.2c-8.61,0.93-17.33,0.42-25.84-1.02   c-8.5-1.5-16.89-3.97-24.8-7.28c-7.88-3.31-15.23-7.61-21.8-12.77c-4.43-3.47-8.44-7.39-12.07-11.61c-1.76-2.05-3.45-4.15-5-6.34   c-2.36-3.36-4.49-6.86-6.3-10.49c-0.91-1.81-1.74-3.64-2.48-5.48c-0.36-0.92-0.71-1.84-1.02-2.74l-0.43-1.33l-0.18-0.62   c-0.03-0.1-0.06-0.23-0.09-0.32c6.53-1.53,12.93-4.18,17.18-9.31c5.28-5.69,7.72-12.19,7.72-20.72c0-8.94-3.86-17.68-11.99-23.16   c-7.92-5.28-17.07-8.13-31.69-8.13h-49.77v3.05c3.25,0.2,6.1,0.41,8.13,1.02c2.24,0.41,3.86,1.42,4.88,2.64   c1.22,1.42,1.83,3.25,2.23,5.48c0.41,2.24,0.61,5.28,0.61,8.94l-0.2,80.05c0,3.66-0.2,6.7-0.61,9.14   c-0.41,2.23-1.42,4.06-2.64,5.28c-1.22,1.42-3.05,2.24-5.28,2.84c-2.24,0.41-5.28,0.81-8.94,1.02v3.05h51.81v-3.05   c-3.86-0.2-6.7-0.61-9.14-1.02c-2.24-0.61-4.06-1.42-5.28-2.84c-1.22-1.22-2.03-3.05-2.64-5.28c-0.41-2.24-0.61-5.49-0.61-8.53   V87.53c0-5.89,5.69-10.36,12.8-13.21c0.49-0.24,1.11-0.44,1.8-0.62c2.4,4.1,11.57,19.02,17.4,26.17c0.56,0.69,1.09,1.31,1.58,1.84   C364.63,109.2,372.08,115.68,380.23,120.93 M324.86,76.15V15c0-1.83,0.81-2.84,2.64-2.84h9.75c10.57,0,17.07,3.45,21.33,7.11   c6.09,5.08,8.94,10.56,8.94,19.5c-0.2,10.16-2.64,17.07-7.92,21.13c-5.08,4.06-10.36,4.88-18.69,6.7   C334.41,68.03,328.11,71.48,324.86,76.15"/>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="footer-right-content">
                    <a class="text" href="#">
                        <span class="great">Great</span>
                        <span class="four-star-span">
                            <svg class="four-star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="512px" height="96px" viewBox="0 0 512 96" version="1.1">
                                <g id="Trustpilot_ratings_4star-RGB" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g fill-rule="nonzero">
                                        <rect id="Rectangle-path" fill="#73CF11" x="0" y="0" width="96" height="96"/>
                                        <rect id="Rectangle-path" fill="#73CF11" x="104" y="0" width="96" height="96"/>
                                        <rect id="Rectangle-path" fill="#73CF11" x="208" y="0" width="96" height="96"/>
                                        <rect id="Rectangle-path" fill="#73CF11" x="312" y="0" width="96" height="96"/>
                                        <rect id="Rectangle-path" fill="#DCDCE6" x="416" y="0" width="96" height="96"/>
                                        <path d="M48,64.7 L62.6,61 L68.7,79.8 L48,64.7 Z M81.6,40.4 L55.9,40.4 L48,16.2 L40.1,40.4 L14.4,40.4 L35.2,55.4 L27.3,79.6 L48.1,64.6 L60.9,55.4 L81.6,40.4 L81.6,40.4 L81.6,40.4 L81.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                        <path d="M152,64.7 L166.6,61 L172.7,79.8 L152,64.7 Z M185.6,40.4 L159.9,40.4 L152,16.2 L144.1,40.4 L118.4,40.4 L139.2,55.4 L131.3,79.6 L152.1,64.6 L164.9,55.4 L185.6,40.4 L185.6,40.4 L185.6,40.4 L185.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                        <path d="M256,64.7 L270.6,61 L276.7,79.8 L256,64.7 Z M289.6,40.4 L263.9,40.4 L256,16.2 L248.1,40.4 L222.4,40.4 L243.2,55.4 L235.3,79.6 L256.1,64.6 L268.9,55.4 L289.6,40.4 L289.6,40.4 L289.6,40.4 L289.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                        <path d="M360,64.7 L374.6,61 L380.7,79.8 L360,64.7 Z M393.6,40.4 L367.9,40.4 L360,16.2 L352.1,40.4 L326.4,40.4 L347.2,55.4 L339.3,79.6 L360.1,64.6 L372.9,55.4 L393.6,40.4 L393.6,40.4 L393.6,40.4 L393.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                        <path d="M464,64.7 L478.6,61 L484.7,79.8 L464,64.7 Z M497.6,40.4 L471.9,40.4 L464,16.2 L456.1,40.4 L430.4,40.4 L451.2,55.4 L443.3,79.6 L464.1,64.6 L476.9,55.4 L497.6,40.4 L497.6,40.4 L497.6,40.4 L497.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <span class="e-text"><strong>7,846 </strong>reviews on</span>
                        <span class="trustpilot">
                            <img src="{{ 'trustpilot-2.svg' | asset_url }}" alt="">
                            Trustpilot
                        </span>
                    </a>
                </div>
            </div>
            <div class="footer-body">
                <div class="footer-left">
                    <div class="single-item">
                        <h2 class="heading">Help & Support</h2>
                        <ul class="list">
                            <li><a href="#">Shipping & Delivery</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Returns policy</a></li>
                            <li><a href="#">Order & Tracking</a></li>
                        </ul>
                    </div>
                    <div class="single-item">
                        <h2 class="heading">About</h2>
                        <ul class="list">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cookies Policy</a></li>
                            <li><a href="#">Work with us!</a></li>
                        </ul>
                    </div>
                    <div class="single-item">
                        <h2 class="heading">Products</h2>
                        <ul class="list">
                            <li><a href="#">Changing Foundation</a></li>
                            <li><a href="#">Velvet Dream Lipstick</a></li>
                            <li><a href="#">2-in-1 Build & Conceal Brush</a></li>
                            <li><a href="#">Vibrant Liquid Cheeks Blush</a></li>
                            <li><a href="#">Gilded Lashes Mascara</a></li>
                            <li><a href="#">Shop all</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-mobile-menu">
                    <div class="single-item">
                        <h4 class="heading">Help & Support
                            <span class="accordion-toggle p-relative">
                                <svg class="plus" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.28188 0.25V4.28188H0.921875V5.72188H4.28188V9.08188H5.72188V5.72188H9.08188V4.28188H5.72188V0.25H4.28188Z" fill="white"></path>
                                </svg>
                                <svg class="minus" width="10" height="10" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.921875 0.921875H9.08188V2.08188H0.921875V0.921875Z" fill="white"></path>
                                </svg>
                            </span>
                        </h4>
                        <ul class="list">
                            <li><a href="#">Shipping & Delivery</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Returns policy</a></li>
                            <li><a href="#">Order & Tracking</a></li>
                        </ul>
                    </div>
                    <div class="single-item">
                        <h4 class="heading">About
                            <span class="accordion-toggle p-relative">
                                <svg class="plus" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.28188 0.25V4.28188H0.921875V5.72188H4.28188V9.08188H5.72188V5.72188H9.08188V4.28188H5.72188V0.25H4.28188Z" fill="white"></path>
                                </svg>
                                <svg class="minus" width="10" height="10" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.921875 0.921875H9.08188V2.08188H0.921875V0.921875Z" fill="white"></path>
                                </svg>
                            </span>
                        </h4>
                        <ul class="list">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cookies Policy</a></li>
                            <li><a href="#">Work with us!</a></li>
                        </ul>
                    </div>
                    <div class="single-item">
                        <h4 class="heading">Products
                            <span class="accordion-toggle p-relative">
                                <svg class="plus" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.28188 0.25V4.28188H0.921875V5.72188H4.28188V9.08188H5.72188V5.72188H9.08188V4.28188H5.72188V0.25H4.28188Z" fill="white"></path>
                                </svg>
                                <svg class="minus" width="10" height="10" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.921875 0.921875H9.08188V2.08188H0.921875V0.921875Z" fill="white"></path>
                                </svg>
                            </span>
                        </h4>
                        <ul class="list">
                            <li><a href="#">Changing Foundation</a></li>
                            <li><a href="#">Velvet Dream Lipstick</a></li>
                            <li><a href="#">2-in-1 Build & Conceal Brush</a></li>
                            <li><a href="#">Vibrant Liquid Cheeks Blush</a></li>
                            <li><a href="#">Gilded Lashes Mascara</a></li>
                            <li><a href="#">Shop all</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-right">
                    <p>Sign up to be the first to know about products, offers and <br> tips</p>
                    <div class="input-box">
                        <input type="email" placeholder="Email">
                        <button type="submit">JOIN</button>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="bottom-left">
                    <div class="thumb">
                        <ul class="payment-lis">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="pi-american_express" viewBox="0 0 38 24" width="38" height="24"><title id="pi-american_express">American Express</title><path fill="#000" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3Z" opacity=".07"></path><path fill="#006FCF" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32Z"></path><path fill="#FFF" d="M22.012 19.936v-8.421L37 11.528v2.326l-1.732 1.852L37 17.573v2.375h-2.766l-1.47-1.622-1.46 1.628-9.292-.02Z"></path><path fill="#006FCF" d="M23.013 19.012v-6.57h5.572v1.513h-3.768v1.028h3.678v1.488h-3.678v1.01h3.768v1.531h-5.572Z"></path><path fill="#006FCF" d="m28.557 19.012 3.083-3.289-3.083-3.282h2.386l1.884 2.083 1.89-2.082H37v.051l-3.017 3.23L37 18.92v.093h-2.307l-1.917-2.103-1.898 2.104h-2.321Z"></path><path fill="#FFF" d="M22.71 4.04h3.614l1.269 2.881V4.04h4.46l.77 2.159.771-2.159H37v8.421H19l3.71-8.421Z"></path><path fill="#006FCF" d="m23.395 4.955-2.916 6.566h2l.55-1.315h2.98l.55 1.315h2.05l-2.904-6.566h-2.31Zm.25 3.777.875-2.09.873 2.09h-1.748Z"></path><path fill="#006FCF" d="M28.581 11.52V4.953l2.811.01L32.84 9l1.456-4.046H37v6.565l-1.74.016v-4.51l-1.644 4.494h-1.59L30.35 7.01v4.51h-1.768Z"></path></svg>
                        
                            </li>
                            <li>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" role="img" x="0" y="0" width="38" height="24" viewBox="0 0 165.521 105.965" xml:space="preserve" aria-labelledby="pi-apple_pay"><title id="pi-apple_pay">Apple Pay</title><path fill="#000" d="M150.698 0H14.823c-.566 0-1.133 0-1.698.003-.477.004-.953.009-1.43.022-1.039.028-2.087.09-3.113.274a10.51 10.51 0 0 0-2.958.975 9.932 9.932 0 0 0-4.35 4.35 10.463 10.463 0 0 0-.975 2.96C.113 9.611.052 10.658.024 11.696a70.22 70.22 0 0 0-.022 1.43C0 13.69 0 14.256 0 14.823v76.318c0 .567 0 1.132.002 1.699.003.476.009.953.022 1.43.028 1.036.09 2.084.275 3.11a10.46 10.46 0 0 0 .974 2.96 9.897 9.897 0 0 0 1.83 2.52 9.874 9.874 0 0 0 2.52 1.83c.947.483 1.917.79 2.96.977 1.025.183 2.073.245 3.112.273.477.011.953.017 1.43.02.565.004 1.132.004 1.698.004h135.875c.565 0 1.132 0 1.697-.004.476-.002.952-.009 1.431-.02 1.037-.028 2.085-.09 3.113-.273a10.478 10.478 0 0 0 2.958-.977 9.955 9.955 0 0 0 4.35-4.35c.483-.947.789-1.917.974-2.96.186-1.026.246-2.074.274-3.11.013-.477.02-.954.022-1.43.004-.567.004-1.132.004-1.699V14.824c0-.567 0-1.133-.004-1.699a63.067 63.067 0 0 0-.022-1.429c-.028-1.038-.088-2.085-.274-3.112a10.4 10.4 0 0 0-.974-2.96 9.94 9.94 0 0 0-4.35-4.35A10.52 10.52 0 0 0 156.939.3c-1.028-.185-2.076-.246-3.113-.274a71.417 71.417 0 0 0-1.431-.022C151.83 0 151.263 0 150.698 0z"></path><path fill="#FFF" d="M150.698 3.532l1.672.003c.452.003.905.008 1.36.02.793.022 1.719.065 2.583.22.75.135 1.38.34 1.984.648a6.392 6.392 0 0 1 2.804 2.807c.306.6.51 1.226.645 1.983.154.854.197 1.783.218 2.58.013.45.019.9.02 1.36.005.557.005 1.113.005 1.671v76.318c0 .558 0 1.114-.004 1.682-.002.45-.008.9-.02 1.35-.022.796-.065 1.725-.221 2.589a6.855 6.855 0 0 1-.645 1.975 6.397 6.397 0 0 1-2.808 2.807c-.6.306-1.228.511-1.971.645-.881.157-1.847.2-2.574.22-.457.01-.912.017-1.379.019-.555.004-1.113.004-1.669.004H14.801c-.55 0-1.1 0-1.66-.004a74.993 74.993 0 0 1-1.35-.018c-.744-.02-1.71-.064-2.584-.22a6.938 6.938 0 0 1-1.986-.65 6.337 6.337 0 0 1-1.622-1.18 6.355 6.355 0 0 1-1.178-1.623 6.935 6.935 0 0 1-.646-1.985c-.156-.863-.2-1.788-.22-2.578a66.088 66.088 0 0 1-.02-1.355l-.003-1.327V14.474l.002-1.325a66.7 66.7 0 0 1 .02-1.357c.022-.792.065-1.717.222-2.587a6.924 6.924 0 0 1 .646-1.981c.304-.598.7-1.144 1.18-1.623a6.386 6.386 0 0 1 1.624-1.18 6.96 6.96 0 0 1 1.98-.646c.865-.155 1.792-.198 2.586-.22.452-.012.905-.017 1.354-.02l1.677-.003h135.875"></path><g><g><path fill="#000" d="M43.508 35.77c1.404-1.755 2.356-4.112 2.105-6.52-2.054.102-4.56 1.355-6.012 3.112-1.303 1.504-2.456 3.959-2.156 6.266 2.306.2 4.61-1.152 6.063-2.858"></path><path fill="#000" d="M45.587 39.079c-3.35-.2-6.196 1.9-7.795 1.9-1.6 0-4.049-1.8-6.698-1.751-3.447.05-6.645 2-8.395 5.1-3.598 6.2-.95 15.4 2.55 20.45 1.699 2.5 3.747 5.25 6.445 5.151 2.55-.1 3.549-1.65 6.647-1.65 3.097 0 3.997 1.65 6.696 1.6 2.798-.05 4.548-2.5 6.247-5 1.95-2.85 2.747-5.6 2.797-5.75-.05-.05-5.396-2.101-5.446-8.251-.05-5.15 4.198-7.6 4.398-7.751-2.399-3.548-6.147-3.948-7.447-4.048"></path></g><g><path fill="#000" d="M78.973 32.11c7.278 0 12.347 5.017 12.347 12.321 0 7.33-5.173 12.373-12.529 12.373h-8.058V69.62h-5.822V32.11h14.062zm-8.24 19.807h6.68c5.07 0 7.954-2.729 7.954-7.46 0-4.73-2.885-7.434-7.928-7.434h-6.706v14.894z"></path><path fill="#000" d="M92.764 61.847c0-4.809 3.665-7.564 10.423-7.98l7.252-.442v-2.08c0-3.04-2.001-4.704-5.562-4.704-2.938 0-5.07 1.507-5.51 3.82h-5.252c.157-4.86 4.731-8.395 10.918-8.395 6.654 0 10.995 3.483 10.995 8.89v18.663h-5.38v-4.497h-.13c-1.534 2.937-4.914 4.782-8.579 4.782-5.406 0-9.175-3.222-9.175-8.057zm17.675-2.417v-2.106l-6.472.416c-3.64.234-5.536 1.585-5.536 3.95 0 2.288 1.975 3.77 5.068 3.77 3.95 0 6.94-2.522 6.94-6.03z"></path><path fill="#000" d="M120.975 79.652v-4.496c.364.051 1.247.103 1.715.103 2.573 0 4.029-1.09 4.913-3.899l.52-1.663-9.852-27.293h6.082l6.863 22.146h.13l6.862-22.146h5.927l-10.216 28.67c-2.34 6.577-5.017 8.735-10.683 8.735-.442 0-1.872-.052-2.261-.157z"></path></g></g></svg>
                        
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-google_pay"><title id="pi-google_pay">Google Pay</title><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"></path><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF"></path><path d="M18.093 11.976v3.2h-1.018v-7.9h2.691a2.447 2.447 0 0 1 1.747.692 2.28 2.28 0 0 1 .11 3.224l-.11.116c-.47.447-1.098.69-1.747.674l-1.673-.006zm0-3.732v2.788h1.698c.377.012.741-.135 1.005-.404a1.391 1.391 0 0 0-1.005-2.354l-1.698-.03zm6.484 1.348c.65-.03 1.286.188 1.778.613.445.43.682 1.03.65 1.649v3.334h-.969v-.766h-.049a1.93 1.93 0 0 1-1.673.931 2.17 2.17 0 0 1-1.496-.533 1.667 1.667 0 0 1-.613-1.324 1.606 1.606 0 0 1 .613-1.336 2.746 2.746 0 0 1 1.698-.515c.517-.02 1.03.093 1.49.331v-.208a1.134 1.134 0 0 0-.417-.901 1.416 1.416 0 0 0-.98-.368 1.545 1.545 0 0 0-1.319.717l-.895-.564a2.488 2.488 0 0 1 2.182-1.06zM23.29 13.52a.79.79 0 0 0 .337.662c.223.176.5.269.785.263.429-.001.84-.17 1.146-.472.305-.286.478-.685.478-1.103a2.047 2.047 0 0 0-1.324-.374 1.716 1.716 0 0 0-1.03.294.883.883 0 0 0-.392.73zm9.286-3.75l-3.39 7.79h-1.048l1.281-2.728-2.224-5.062h1.103l1.612 3.885 1.569-3.885h1.097z" fill="#5F6368"></path><path d="M13.986 11.284c0-.308-.024-.616-.073-.92h-4.29v1.747h2.451a2.096 2.096 0 0 1-.9 1.373v1.134h1.464a4.433 4.433 0 0 0 1.348-3.334z" fill="#4285F4"></path><path d="M9.629 15.721a4.352 4.352 0 0 0 3.01-1.097l-1.466-1.14a2.752 2.752 0 0 1-4.094-1.44H5.577v1.17a4.53 4.53 0 0 0 4.052 2.507z" fill="#34A853"></path><path d="M7.079 12.05a2.709 2.709 0 0 1 0-1.735v-1.17H5.577a4.505 4.505 0 0 0 0 4.075l1.502-1.17z" fill="#FBBC04"></path><path d="M9.629 8.44a2.452 2.452 0 0 1 1.74.68l1.3-1.293a4.37 4.37 0 0 0-3.065-1.183 4.53 4.53 0 0 0-4.027 2.5l1.502 1.171a2.715 2.715 0 0 1 2.55-1.875z" fill="#EA4335"></path></svg>
                        
                            </li>
                            <li>
                                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-maestro"><title id="pi-maestro">Maestro</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#00A2E5" cx="23" cy="12" r="7"></circle><path fill="#7375CF" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
                            </li>
                            <li>
                                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
                            </li>
                            <li>
                                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-paypal"><title id="pi-paypal">PayPal</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"></path><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"></path><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"></path></svg>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-shopify_pay"><title id="pi-shopify_pay">Shop Pay</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000"></path><path d="M35.889 0C37.05 0 38 .982 38 2.182v19.636c0 1.2-.95 2.182-2.111 2.182H2.11C.95 24 0 23.018 0 21.818V2.182C0 .982.95 0 2.111 0H35.89z" fill="#5A31F4"></path><path d="M9.35 11.368c-1.017-.223-1.47-.31-1.47-.705 0-.372.306-.558.92-.558.54 0 .934.238 1.225.704a.079.079 0 00.104.03l1.146-.584a.082.082 0 00.032-.114c-.475-.831-1.353-1.286-2.51-1.286-1.52 0-2.464.755-2.464 1.956 0 1.275 1.15 1.597 2.17 1.82 1.02.222 1.474.31 1.474.705 0 .396-.332.582-.993.582-.612 0-1.065-.282-1.34-.83a.08.08 0 00-.107-.035l-1.143.57a.083.083 0 00-.036.111c.454.92 1.384 1.437 2.627 1.437 1.583 0 2.539-.742 2.539-1.98s-1.155-1.598-2.173-1.82v-.003zM15.49 8.855c-.65 0-1.224.232-1.636.646a.04.04 0 01-.069-.03v-2.64a.08.08 0 00-.08-.081H12.27a.08.08 0 00-.08.082v8.194a.08.08 0 00.08.082h1.433a.08.08 0 00.081-.082v-3.594c0-.695.528-1.227 1.239-1.227.71 0 1.226.521 1.226 1.227v3.594a.08.08 0 00.081.082h1.433a.08.08 0 00.081-.082v-3.594c0-1.51-.981-2.577-2.355-2.577zM20.753 8.62c-.778 0-1.507.24-2.03.588a.082.082 0 00-.027.109l.632 1.088a.08.08 0 00.11.03 2.5 2.5 0 011.318-.366c1.25 0 2.17.891 2.17 2.068 0 1.003-.736 1.745-1.669 1.745-.76 0-1.288-.446-1.288-1.077 0-.361.152-.657.548-.866a.08.08 0 00.032-.113l-.596-1.018a.08.08 0 00-.098-.035c-.799.299-1.359 1.018-1.359 1.984 0 1.46 1.152 2.55 2.76 2.55 1.877 0 3.227-1.313 3.227-3.195 0-2.018-1.57-3.492-3.73-3.492zM28.675 8.843c-.724 0-1.373.27-1.845.746-.026.027-.069.007-.069-.029v-.572a.08.08 0 00-.08-.082h-1.397a.08.08 0 00-.08.082v8.182a.08.08 0 00.08.081h1.433a.08.08 0 00.081-.081v-2.683c0-.036.043-.054.069-.03a2.6 2.6 0 001.808.7c1.682 0 2.993-1.373 2.993-3.157s-1.313-3.157-2.993-3.157zm-.271 4.929c-.956 0-1.681-.768-1.681-1.783s.723-1.783 1.681-1.783c.958 0 1.68.755 1.68 1.783 0 1.027-.713 1.783-1.681 1.783h.001z" fill="#fff"></path></svg>
                        
                            </li>
                            <li>
                                <svg viewBox="-36 25 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-unionpay"><title id="pi-unionpay">Union Pay</title><path fill="#005B9A" d="M-36 46.8v.7-.7zM-18.3 25v24h-7.2c-1.3 0-2.1-1-1.8-2.3l4.4-19.4c.3-1.3 1.9-2.3 3.2-2.3h1.4zm12.6 0c-1.3 0-2.9 1-3.2 2.3l-4.5 19.4c-.3 1.3.5 2.3 1.8 2.3h-4.9V25h10.8z"></path><path fill="#E9292D" d="M-19.7 25c-1.3 0-2.9 1.1-3.2 2.3l-4.4 19.4c-.3 1.3.5 2.3 1.8 2.3h-8.9c-.8 0-1.5-.6-1.5-1.4v-21c0-.8.7-1.6 1.5-1.6h14.7z"></path><path fill="#0E73B9" d="M-5.7 25c-1.3 0-2.9 1.1-3.2 2.3l-4.4 19.4c-.3 1.3.5 2.3 1.8 2.3H-26h.5c-1.3 0-2.1-1-1.8-2.3l4.4-19.4c.3-1.3 1.9-2.3 3.2-2.3h14z"></path><path fill="#059DA4" d="M2 26.6v21c0 .8-.6 1.4-1.5 1.4h-12.1c-1.3 0-2.1-1.1-1.8-2.3l4.5-19.4C-8.6 26-7 25-5.7 25H.5c.9 0 1.5.7 1.5 1.6z"></path><path fill="#fff" d="M-21.122 38.645h.14c.14 0 .28-.07.28-.14l.42-.63h1.19l-.21.35h1.4l-.21.63h-1.68c-.21.28-.42.42-.7.42h-.84l.21-.63m-.21.91h3.01l-.21.7h-1.19l-.21.7h1.19l-.21.7h-1.19l-.28 1.05c-.07.14 0 .28.28.21h.98l-.21.7h-1.89c-.35 0-.49-.21-.35-.63l.35-1.33h-.77l.21-.7h.77l.21-.7h-.7l.21-.7zm4.83-1.75v.42s.56-.42 1.12-.42h1.96l-.77 2.66c-.07.28-.35.49-.77.49h-2.24l-.49 1.89c0 .07 0 .14.14.14h.42l-.14.56h-1.12c-.42 0-.56-.14-.49-.35l1.47-5.39h.91zm1.68.77h-1.75l-.21.7s.28-.21.77-.21h1.05l.14-.49zm-.63 1.68c.14 0 .21 0 .21-.14l.14-.35h-1.75l-.14.56 1.54-.07zm-1.19.84h.98v.42h.28c.14 0 .21-.07.21-.14l.07-.28h.84l-.14.49c-.07.35-.35.49-.77.56h-.56v.77c0 .14.07.21.35.21h.49l-.14.56h-1.19c-.35 0-.49-.14-.49-.49l.07-2.1zm4.2-2.45l.21-.84h1.19l-.07.28s.56-.28 1.05-.28h1.47l-.21.84h-.21l-1.12 3.85h.21l-.21.77h-.21l-.07.35h-1.19l.07-.35h-2.17l.21-.77h.21l1.12-3.85h-.28m1.26 0l-.28 1.05s.49-.21.91-.28c.07-.35.21-.77.21-.77h-.84zm-.49 1.54l-.28 1.12s.56-.28.98-.28c.14-.42.21-.77.21-.77l-.91-.07zm.21 2.31l.21-.77h-.84l-.21.77h.84zm2.87-4.69h1.12l.07.42c0 .07.07.14.21.14h.21l-.21.7h-.77c-.28 0-.49-.07-.49-.35l-.14-.91zm-.35 1.47h3.57l-.21.77h-1.19l-.21.7h1.12l-.21.77h-1.26l-.28.42h.63l.14.84c0 .07.07.14.21.14h.21l-.21.7h-.7c-.35 0-.56-.07-.56-.35l-.14-.77-.56.84c-.14.21-.35.35-.63.35h-1.05l.21-.7h.35c.14 0 .21-.07.35-.21l.84-1.26h-1.05l.21-.77h1.19l.21-.7h-1.19l.21-.77zm-19.74-5.04c-.14.7-.42 1.19-.91 1.54-.49.35-1.12.56-1.89.56-.7 0-1.26-.21-1.54-.56-.21-.28-.35-.56-.35-.98 0-.14 0-.35.07-.56l.84-3.92h1.19l-.77 3.92v.28c0 .21.07.35.14.49.14.21.35.28.7.28s.7-.07.91-.28c.21-.21.42-.42.49-.77l.77-3.92h1.19l-.84 3.92m1.12-1.54h.84l-.07.49.14-.14c.28-.28.63-.42 1.05-.42.35 0 .63.14.77.35.14.21.21.49.14.91l-.49 2.38h-.91l.42-2.17c.07-.28.07-.49 0-.56-.07-.14-.21-.14-.35-.14-.21 0-.42.07-.56.21-.14.14-.28.35-.28.63l-.42 2.03h-.91l.63-3.57m9.8 0h.84l-.07.49.14-.14c.28-.28.63-.42 1.05-.42.35 0 .63.14.77.35s.21.49.14.91l-.49 2.38h-.91l.42-2.24c.07-.21 0-.42-.07-.49-.07-.14-.21-.14-.35-.14-.21 0-.42.07-.56.21-.14.14-.28.35-.28.63l-.42 2.03h-.91l.7-3.57m-5.81 0h.98l-.77 3.5h-.98l.77-3.5m.35-1.33h.98l-.21.84h-.98l.21-.84zm1.4 4.55c-.21-.21-.35-.56-.35-.98v-.21c0-.07 0-.21.07-.28.14-.56.35-1.05.7-1.33.35-.35.84-.49 1.33-.49.42 0 .77.14 1.05.35.21.21.35.56.35.98v.21c0 .07 0 .21-.07.28-.14.56-.35.98-.7 1.33-.35.35-.84.49-1.33.49-.35 0-.7-.14-1.05-.35m1.89-.7c.14-.21.28-.49.35-.84v-.35c0-.21-.07-.35-.14-.49a.635.635 0 0 0-.49-.21c-.28 0-.49.07-.63.28-.14.21-.28.49-.35.84v.28c0 .21.07.35.14.49.14.14.28.21.49.21.28.07.42 0 .63-.21m6.51-4.69h2.52c.49 0 .84.14 1.12.35.28.21.35.56.35.91v.28c0 .07 0 .21-.07.28-.07.49-.35.98-.7 1.26-.42.35-.84.49-1.4.49h-1.4l-.42 2.03h-1.19l1.19-5.6m.56 2.59h1.12c.28 0 .49-.07.7-.21.14-.14.28-.35.35-.63v-.28c0-.21-.07-.35-.21-.42-.14-.07-.35-.14-.7-.14h-.91l-.35 1.68zm8.68 3.71c-.35.77-.7 1.26-.91 1.47-.21.21-.63.7-1.61.7l.07-.63c.84-.28 1.26-1.4 1.54-1.96l-.28-3.78h1.19l.07 2.38.91-2.31h1.05l-2.03 4.13m-2.94-3.85l-.42.28c-.42-.35-.84-.56-1.54-.21-.98.49-1.89 4.13.91 2.94l.14.21h1.12l.7-3.29-.91.07m-.56 1.82c-.21.56-.56.84-.91.77-.28-.14-.35-.63-.21-1.19.21-.56.56-.84.91-.77.28.14.35.63.21 1.19"></path></svg>
                            </li>
                            <li>
                                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-labelledby="pi-bancontact" role="img" viewBox="0 0 38 24" width="38" height="24"><title id="pi-bancontact">Bancontact</title><path fill="#000" opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M4.703 3.077h28.594c.139 0 .276.023.405.068.128.045.244.11.343.194a.9.9 0 0 1 .229.29c.053.107.08.223.08.34V20.03a.829.829 0 0 1-.31.631 1.164 1.164 0 0 1-.747.262H4.703a1.23 1.23 0 0 1-.405-.068 1.09 1.09 0 0 1-.343-.194.9.9 0 0 1-.229-.29.773.773 0 0 1-.08-.34V3.97c0-.118.027-.234.08-.342a.899.899 0 0 1 .23-.29c.098-.082.214-.148.342-.193a1.23 1.23 0 0 1 .405-.068Z" fill="#fff"></path><path d="M6.38 18.562v-3.077h1.125c.818 0 1.344.259 1.344.795 0 .304-.167.515-.401.638.338.132.536.387.536.734 0 .62-.536.91-1.37.91H6.38Zm.724-1.798h.537c.328 0 .468-.136.468-.387 0-.268-.255-.356-.599-.356h-.406v.743Zm0 1.262h.448c.438 0 .693-.093.693-.383 0-.286-.219-.404-.63-.404h-.51v.787Zm3.284.589c-.713 0-1.073-.295-1.073-.69 0-.436.422-.69 1.047-.695.156.002.31.014.464.035v-.105c0-.269-.183-.396-.531-.396a2.128 2.128 0 0 0-.688.105l-.13-.474a3.01 3.01 0 0 1 .9-.132c.767 0 1.147.343 1.147.936v1.222c-.214.093-.615.194-1.136.194Zm.438-.497v-.47a2.06 2.06 0 0 0-.37-.036c-.24 0-.427.08-.427.286 0 .185.156.281.432.281a.947.947 0 0 0 .365-.061Zm1.204.444v-2.106a3.699 3.699 0 0 1 1.177-.193c.76 0 1.198.316 1.198.9v1.399h-.719v-1.354c0-.303-.167-.444-.484-.444a1.267 1.267 0 0 0-.459.079v1.719h-.713Zm4.886-2.167-.135.479a1.834 1.834 0 0 0-.588-.11c-.422 0-.652.25-.652.664 0 .453.24.685.688.685.2-.004.397-.043.578-.114l.115.488a2.035 2.035 0 0 1-.75.128c-.865 0-1.365-.453-1.365-1.17 0-.712.495-1.182 1.323-1.182.27-.001.538.043.787.132Zm1.553 2.22c-.802 0-1.302-.47-1.302-1.178 0-.704.5-1.174 1.302-1.174.807 0 1.297.47 1.297 1.173 0 .708-.49 1.179-1.297 1.179Zm0-.502c.37 0 .563-.259.563-.677 0-.413-.193-.672-.563-.672-.364 0-.568.26-.568.672 0 .418.204.677.568.677Zm1.713.449v-2.106a3.699 3.699 0 0 1 1.177-.193c.76 0 1.198.316 1.198.9v1.399h-.719v-1.354c0-.303-.166-.444-.484-.444a1.268 1.268 0 0 0-.459.079v1.719h-.713Zm3.996.053c-.62 0-.938-.286-.938-.866v-.95h-.354v-.484h.355v-.488l.718-.03v.518h.578v.484h-.578v.94c0 .256.125.374.36.374.093 0 .185-.008.276-.026l.036.488c-.149.028-.3.041-.453.04Zm1.814 0c-.713 0-1.073-.295-1.073-.69 0-.436.422-.69 1.047-.695.155.002.31.014.464.035v-.105c0-.269-.183-.396-.532-.396a2.128 2.128 0 0 0-.687.105l-.13-.474a3.01 3.01 0 0 1 .9-.132c.766 0 1.146.343 1.146.936v1.222c-.213.093-.614.194-1.135.194Zm.438-.497v-.47a2.06 2.06 0 0 0-.37-.036c-.24 0-.427.08-.427.286 0 .185.156.281.432.281a.946.946 0 0 0 .365-.061Zm3.157-1.723-.136.479a1.834 1.834 0 0 0-.588-.11c-.422 0-.651.25-.651.664 0 .453.24.685.687.685.2-.004.397-.043.578-.114l.115.488a2.035 2.035 0 0 1-.75.128c-.865 0-1.365-.453-1.365-1.17 0-.712.495-1.182 1.323-1.182.27-.001.538.043.787.132Zm1.58 2.22c-.62 0-.938-.286-.938-.866v-.95h-.354v-.484h.354v-.488l.72-.03v.518h.577v.484h-.578v.94c0 .256.125.374.36.374.092 0 .185-.008.276-.026l.036.488c-.149.028-.3.041-.453.04Z" fill="#1E3764"></path><path d="M11.394 13.946c3.803 0 5.705-2.14 7.606-4.28H6.38v4.28h5.014Z" fill="url(#pi-bancontact-a)"></path><path d="M26.607 5.385c-3.804 0-5.705 2.14-7.607 4.28h12.62v-4.28h-5.013Z" fill="url(#pi-bancontact-b)"></path><defs><linearGradient id="pi-bancontact-a" x1="8.933" y1="12.003" x2="17.734" y2="8.13" gradientUnits="userSpaceOnUse"><stop stop-color="#005AB9"></stop><stop offset="1" stop-color="#1E3764"></stop></linearGradient><linearGradient id="pi-bancontact-b" x1="19.764" y1="10.037" x2="29.171" y2="6.235" gradientUnits="userSpaceOnUse"><stop stop-color="#FBA900"></stop><stop offset="1" stop-color="#FFD800"></stop></linearGradient></defs></svg>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="bottom-right">
                    <span>Follow us</span>
                    <ul>
                        <li>
                            <a class="f-icon" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none">
                                    <path d="M8.72266 9L9.16703 6.10437H6.38859V4.22531C6.38859 3.43313 6.77672 2.66094 8.02109 2.66094H9.28422V0.195625C9.28422 0.195625 8.13797 0 7.04203 0C4.75391 0 3.25828 1.38688 3.25828 3.8975V6.10437H0.714844V9H3.25828V16H6.38859V9H8.72266Z" fill="#1E1E1E"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="icon icon-instagram" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"></rect>
                                    <path d="M12.0002 8.06395C13.2802 8.06395 13.4322 8.06395 13.9402 8.09195C15.2402 8.15195 15.8482 8.76795 15.9082 10.06C15.9322 10.568 15.9362 10.72 15.9362 12C15.9362 13.28 15.9362 13.436 15.9082 13.94C15.8482 15.232 15.2442 15.848 13.9402 15.908C13.4322 15.932 13.2842 15.936 12.0002 15.936C10.7162 15.936 10.5682 15.936 10.0602 15.908C8.7562 15.848 8.1522 15.228 8.0922 13.94C8.0682 13.432 8.0642 13.284 8.0642 12C8.0642 10.716 8.0642 10.568 8.0922 10.06C8.1522 8.76795 8.7602 8.15195 10.0602 8.09195C10.5682 8.07195 10.7202 8.06395 12.0002 8.06395ZM12.0002 7.19995C10.6962 7.19995 10.5322 7.19995 10.0202 7.22795C8.2802 7.30795 7.3082 8.27595 7.2202 10.028C7.2002 10.532 7.2002 10.696 7.2002 12C7.2002 13.304 7.2002 13.468 7.2282 14C7.3082 15.744 8.2762 16.712 10.0282 16.8C10.5322 16.8 10.6962 16.8 12.0002 16.8C13.3042 16.8 13.4682 16.8 13.9802 16.772C15.7202 16.692 16.6922 15.724 16.7802 13.972C16.8002 13.468 16.8002 13.304 16.8002 12C16.8002 10.696 16.8002 10.532 16.7722 10.02C16.6922 8.27995 15.7242 7.30795 13.9722 7.21995C13.4682 7.19995 13.3042 7.19995 12.0002 7.19995ZM12.0002 9.53595C11.5129 9.53595 11.0365 9.68046 10.6313 9.95121C10.2261 10.222 9.91025 10.6068 9.72376 11.057C9.53726 11.5073 9.48847 12.0027 9.58354 12.4807C9.67861 12.9586 9.91329 13.3977 10.2579 13.7423C10.6025 14.0869 11.0415 14.3215 11.5195 14.4166C11.9975 14.5117 12.4929 14.4629 12.9431 14.2764C13.3934 14.0899 13.7782 13.7741 14.0489 13.3689C14.3197 12.9637 14.4642 12.4873 14.4642 12C14.4642 11.3465 14.2046 10.7197 13.7425 10.2576C13.2804 9.79555 12.6537 9.53595 12.0002 9.53595ZM12.0002 13.6C11.6837 13.6 11.3744 13.5061 11.1113 13.3303C10.8482 13.1545 10.6431 12.9046 10.522 12.6122C10.4009 12.3199 10.3692 11.9982 10.4309 11.6878C10.4927 11.3774 10.6451 11.0923 10.8688 10.8686C11.0926 10.6448 11.3777 10.4924 11.6881 10.4307C11.9984 10.369 12.3201 10.4006 12.6125 10.5217C12.9049 10.6428 13.1547 10.8479 13.3305 11.111C13.5064 11.3742 13.6002 11.6835 13.6002 12C13.6002 12.4243 13.4316 12.8313 13.1316 13.1313C12.8315 13.4314 12.4245 13.6 12.0002 13.6ZM14.5642 8.85995C14.4501 8.85916 14.3384 8.89227 14.2431 8.95507C14.1479 9.01788 14.0734 9.10756 14.0292 9.21274C13.985 9.31792 13.973 9.43386 13.9948 9.54585C14.0166 9.65785 14.0711 9.76085 14.1515 9.84181C14.2319 9.92277 14.3345 9.97802 14.4463 10.0006C14.5582 10.0231 14.6742 10.012 14.7797 9.96848C14.8852 9.925 14.9754 9.85118 15.0388 9.75637C15.1023 9.66156 15.1362 9.55004 15.1362 9.43595C15.1362 9.28388 15.0761 9.13797 14.9689 9.03007C14.8617 8.92216 14.7163 8.86101 14.5642 8.85995Z" fill="#1E1E1E"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="icon icon-youtube" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"></rect>
                                    <path d="M8.3999 16V8L15.5999 12L8.3999 16Z" fill="#1E1E1E"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>




{{ 'main.js' | asset_url | script_tag }}



    {% schema %}
      {
        "name": "lips-footer",
        "class": "lips-footer",
        "settings": [
          
        ],
        "presets": [
          {
            "name": "lips-footer",
          }
        ]
      }
    {% endschema %}