/* ==============================
   Akta Collection Grid Responsive
   ============================== */

.akta-collection-header {
  text-align: center;
  margin-bottom: 50px;
}
.akta-collection-title {
  margin: 0 0 10px;
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  color: #000;
  margin-bottom: 15px;
}
.akta-collection-description {
  font-size: 16px;
  margin: 0;
}

.akta-collection-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
  max-width: 1440px;
  margin: auto;
  padding: 0 65px 60px 65px;
  row-gap: 40px;
}

.akta-collection-grid-item {
  position: relative;
  overflow: hidden;
  background: #fff; 
  transition: transform 0.3s ease;
}


.akta-collection-grid-link { 
  text-decoration: none;
  color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.akta-collection-grid-content {
    margin-top: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
}

/* ------- IMAGE ------- */
.akta-collection-grid-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  margin-bottom: 15px;
}

.akta-collection-grid-image {
  width: 100%;
  display: block;
  transition:  0.5s ease;
}

.akta-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* Hover Effect = Zoom + Swap */
/* .akta-collection-grid-item:hover .akta-image-default {
  opacity: 0;
  transform: scale(1.1);
}

.akta-collection-grid-item:hover .akta-image-hover {
  opacity: 1;
  transform: scale(1.1);
} */

  /* ------- CONTENT ------- */

  .loox-rating {
    margin-bottom: 5px;
  }
  .akta-collection-grid-title {
    font-size: 16px;
    margin: 0 0 5px;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
  }
  .akta-collection-grid-prices {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
  }
  .akta-collection-grid-prices span {
    font-size: 16px;
    font-weight: 400;
    color: #222;
    font-family: var(--font-stack-body);
    line-height: 1.4;
  }
  span.akta-collection-grid-compare {
    color: #bc1e1e;
    color: #b1b1b1;
    font-size: 14px;
    text-decoration: line-through;
  }

  /* ==============================
   Akta Collection Pagination
   ============================== */
.akta-collection-pagination {
  /* margin-top: 30px; */
  text-align: center;
}

.akta-collection-pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.akta-collection-pagination li {
  display: inline-block;
}

.akta-collection-pagination a, 
.akta-collection-pagination .active {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    text-decoration: none;
    border-radius: 4px;
    transition: all .3s ease;
    width: 40px;
    height: 40px;
}
.akta-collection-pagination a:hover {
  background: #222;
  color: #fff;
}

.akta-collection-pagination .active {
    background: #222;
    color: #fff;
    pointer-events: none;
    width: 44px;
    height: 44px;
}


/* sold out badge  */
span.akta-sold-out-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #ebf2e8;
  font-size: 13px;
  width: auto;
  border-radius: 14px;
  height: 35px;
  color: #fff;
  line-height: 1;
  z-index: 9;
  background: #324a34;
  padding: 8px 12px;
  text-transform: uppercase;
}
/* ------- RESPONSIVE ------- */
@media (max-width: 1279px) {
  .akta-collection-grid {    
    padding: 0 15px;
  }
}
/* ------- RESPONSIVE ------- */
@media (max-width: 768px) {
  .akta-collection-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px 20px;
    padding: 0 15px;
  }
  .akta-collection-pagination {    
    margin-top: 30px;
  }
  .akta-collection-title {   
    font-size: 32px;   
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
   .akta-collection-title {   
    font-size: 28px; 
  }
  
}
