m-cart-drawer {
  .m-cart-drawer__footer {
    padding: 0px 20px 0px;
    box-shadow: 0 4px 24px #0000001f;
  }
  a.m-cart-drawer__link-to-cart.m-button.m-button--link {
    display: none;
  }
  .m-cart__trust-badge {
    margin-top: 2px;
  }
  .m-cart-addon__body {
    z-index: 9999;
  }
  .m-cart__overlay.open {
    z-index: 9998;
  }
}
.m-cart-drawer__header,
.m-cart-drawer__body,
.m-cart-drawer__footer {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
@media screen and (min-width: 768px) {
  .m-cart-drawer__inner {
    width: 475px;
  }
}
.m-cart-item {
  padding: 20px 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.m-cart-item:nth-child(:last-of-type) {
  border-bottom: 0;
}
.m-cart__trust-badge img {
  max-width: 100%;
}
.m-cart-item__image {
  width: 102px;
  overflow: hidden;
  min-width: 102px;
}
.m-cart-item--drawer__wrapper {
  align-items: center !important;
}
.c_bootom_list li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.c_bootom_list li svg,
.c_bootom_list li img {
  width: 30px;
  height: 30px;
}
.c_bootom_list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
